.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

.section {
  display: flex;
  gap: 8px;
}

.s2-heading {
  font-size: 4rem;
  background: linear-gradient(110deg,#f0f -44%,#1e0a78 157%);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.prompt-input {
  border-radius: 4px;
  padding: 4px;
}

.completion-section {
  font-family:monospace;
  border-radius: 6px;
  padding: 8px;
  background-color:#e7ddec;
}

.submit-button {
  border-radius: 4px;
  padding: 4px;
  background-color: #1e0a78;
  color: #fff;
}

